*{
  font-family:'Courier New', Courier, monospace;
  text-decoration: none;
  border-radius: 4vw;



}

.debug{
  border: solid rgb(0, 0, 0);
  background-color: rgb(186, 186, 186);

  
}
.chatbox::-webkit-scrollbar {
  display: none;
}
.chatbox{
  border-radius: 2vw;
  text-align: center;
  grid-column: 2/21;
  grid-row: 5/19;
  font-size:3vw;
  overflow: scroll;
  border:solid black;
  color: white;
  background-color: rgba(255, 255, 255, 0.6);
box-shadow: 2vw 2vw 0.1vw rgb(91, 91, 91);
  
  
}
.HomePage{
  grid-row: 1/23;
  grid-column: 1/23;
}


.NewPost{
  box-shadow: 1.5vw 1.5vw 0.1vw rgb(126, 123, 123);
  background-color:rgb(255, 255, 255) ;
  grid-column: 2/21;
  margin: 1vw;
  grid-row: 20;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: rgb(0, 0, 0) solid 2px;
  
}
.NewNear{
  font-size: 7vw;
  box-shadow: 1.4vw 1.4vw 0.1vw rgb(55, 55, 55);
  background-color: rgb(110, 159, 249);
  padding: 2vw;
  width: 30vw;
  height: 6vh;
  margin: 2vw;
  color:black;
}



body {
  margin: 0;
  padding: 0;
  
}

.App{
  background-color:white;
  background-image: url('./_b7479a0b-9686-474e-a74a-656d32894505.jpg');
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
 display: grid;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  grid-template-rows: repeat(21,1fr);
  grid-template-columns: repeat(21,1fr);
  background-color: black;
}

.loginbox{
height: 60vh;
color:black;
font-weight: bold;
width: 80vw;
display: flex;
justify-content: space-evenly;
flex-direction: column;
grid-column: 3/19;
grid-row: 8/15;
border: solid black;
align-items: center;
font-size:11vw;
background-color: rgba(255, 255, 255, 0.6);
box-shadow: 2vw 2vw 0.1vw rgb(91, 91, 91);
}
.LoginInput,.LoginButton{
  color: black;
  font-size: 7vw;
  text-align: center;
  width: 70vw;
  height: 7vh;
}
.LoginButton{
  width: 40vw;
  background-color: rgb(110, 159, 249);
}

.postbox{
  font-weight: bold;
  margin: 0.6vw;
  width: fit-content;
  height: 6vh;
  justify-content: space-around;
  border: solid black;
  align-items:center;
  padding: 1vw;
  text-align: center;
  background-color:rgba(255, 255, 255, 0.9) ;
  border-radius: 1vw;;
}

.message{ 
  color:black;
  width: 83vw;
  height: 5vh;
  font-size: 4vw;
  border-radius: 2vw;
  margin: 1vw;
 }
 .user{
  margin:vw;
  font-size: 5vw;
  background-color:rgb(110, 159, 249);
  padding: 0.5vw;
  color:white;
  border-radius: 1vw;
  width: fit-content;
  border:2px solid black;

}
.NewBox{
  grid-column: 2/21;
  grid-row:4/19;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.NearPost{
  grid-column: 2/21;
  grid-row:4/19;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}
.postmessage{
  height: 50vh;
  width: 80vw;
  margin: 1vh;
  overflow-x: visible;
}
.Title{
  grid-column: 1/22;
  grid-row: 2/3;
  text-align: center;
  font-size: 15vw;
  color: white;
}

.Gs{
  font-size: 6vw;
  grid-row: 18/20;
  text-align: center;
  grid-column: 2/21;
  color :white;

}
.logo{
  background-image: url(https://cdn2.iconfinder.com/data/icons/menu-white/64/menu_white_buttom__navbar-512.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1%;
  grid-column: 1/6;
  grid-row: 2/6;
}